<div class="row border-bottom">
    <div class="col-12">
        <h2 class="text-primary text-center">All Orders</h2>
    </div>
</div>
<br />
<br />
@*<form method="post" >
    <div class="row m-2">
        <div class="col-6">
            <h5><u>Sort order by date</u> :</h5>
            From: <input type="date" name="from" />
            To : <input type="date"  name="to"/>
        </div>
    </div>
</form>*@

<div class="border shadow-lg p-3 m-3">
    <table id="tblData" class="table table-bordered text-center table-striped table-hover">
        <thead class="bg-primary text-light">
            <tr>
                <th>Order Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
{
    <script src="~/js/allorder.js"></script>
}
